<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>

<body>

    <!-- class: main-page-header-style (main pages) || page-header-style (all other pages) -->
    <div class= <%= locals.pageheaderstyle || "page-header-style" %> >
        <!-- top header -->
        <header class="site-header">

            <div class="header-left-inner header-inner-wrapper">
                <nav>
                    <ul>
                        <li><img src="assets/dummy_100x100_ffffff_cccccc.png" alt="sgw logo" width="40" height="40"></li>
                        <li><i class="fa-solid fa-bars hover-item HeaderBars" style="color:white;"></i></li>
                    </ul>
                </nav>
            </div>

            <div class="header-right-inner header-inner-wrapper">

                <nav>
                    <ul>
                        <li>
                            <a href="/login" class="fa-solid fa-user hover-item user-icon" style="color:white;"></a>
                        </li>
                        <li>
                            <i class="fa-solid fa-moon hover-item theme-btn" style="color:white;"></i>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <!-- big bg image with big title -->
        <div class="homepage-image-slideshow">

        </div>

        <!-- absolute position -->
        <div class="title-text">
            <h1>Städtisches Gymnasium</h1>
            <h4>Wermelskirchen</h4>
        </div>

        <!-- purpose: The above elements are absolute which means the main element would be under the above elements.
        to align everything one by one this normal div without content has the same height as the slide show/header elements above -->
        <div class="align-div">
        </div>
    </div>

    <!-- main body -->
    <main>
        <!-- left site bar -->
        <div class="main-bar-left">
            <!-- absolute position item -->
            <i class="fa-solid fa-angle-left LeftBarCloseBtn"></i>

            <h1>Verwaltung</h1>

            <ul class="inner-list main-list">
                <li><a href="https://sgw-schule.de/iserv/auth/login?_target_pa
                    th=/iserv/auth/auth?_iserv_app_url%3D%252Fiserv%252F%26client_i
                    d%3D4_43lbgfkt68g0c8ocg8cwwcw00400ssowwggcgs08gggoc4c80g%26nonce
                    %3Dafa87ca3-00b4-4366-9eb9-e282e5c1892a%26redirect_uri%3Dhttps%25
                    3A%252F%252Fsgw-schule.de%252Fiserv%252Fapp%252Fauthentication%252F
                    redirect%26response_type%3Dcode%26scope%3Dopenid%2520uuid%2520iserv
                    %253Asession-id%2520iserv%253Aweb-ui%2520iserv%253A2fa%253Aconfig
                    uration%2520iserv%253Aaccess-groups%26state%3DeyJ0eXAiOiJKV1QiLCJh
                    bGciOiJFUzI1NiIsImtpZCI6IjEifQ.eyJyZWRpcmVjdF91cmkiOiJodHRwczpcL1w
                    vc2d3LXNjaHVsZS5kZVwvaXNlcnZcLyIsIm5vbmNlIjoiYWZhODdjYTMtMDBiNC00M
                    zY2LTllYjktZTI4MmU1YzE4OTJhIiwiYWRtaW4iOmZhbHNlLCJpc3MiOiJodHRwczp
                    cL1wvc2d3LXNjaHVsZS5kZVwvaXNlcnZcLyIsImV4cCI6MTcxNTI1NTQ0NywibmJmIj
                    oxNzA3NDc5Mzg3LCJpYXQiOjE3MDc0Nzk0NDcsInNpZCI6IiJ9.HDKbia7s-vdO5sIw
                    djVNBW_8zkyX-jSmC9hIwpXKbtQcCSBDKTrP_QcnW2p8iHaKBXUjJA9Z-AJy6M2VD8E
                    E5Q">Iserv</a>
                </li>
                <li>
                    <a href="/leitungverwaltung">Leitung/Verwaltung</a>
                </li>
                <li>
                    <a href="/node/2249" class="rw-flex AnmeldungListBtn">
                        <i class="fa-solid fa-angle-right Anmeldung-btn-angle"></i>
                        <p>Anmeldung</p>
                    </a>

                    <ul class="inner-list Anmeldung-list">
                        <li>
                            <a href="/node/2250">Anmeldung für Kl. 5</a>
                        </li>
                        <li>
                            <a href="/node/2580">Anmeldung für Kl. 6</a>
                        </li>
                        <li>
                            <a href="/node/2443">Anmeldung für Kl. 7-10</a>
                        </li>
                        <li>
                            <a href="/node/2616">Anmeldung EF</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/terminuebersicht">Terminübersicht</a>
                </li>

                <li>
                    <a href="/node/2221" class="rw-flex UnterrichtsorganisationListBtn">
                        <i class="fa-solid fa-angle-right Unterrichtsorganisation-btn-angle"></i>
                        <p>Unterrichtsorganisation</p>
                    </a>

                    <ul class="inner-list Unterrichtsorganisation-list">
                        <li><a href="/node/2221">Unterrichtszeiten und Stundentafel</a></li>
                        <li><a href="/haus-und-schulordnung">Haus- und Schulordnung</a></li>
                        <li><a href="/node/2236">Pausenregelungen</a></li>
                    </ul>
                </li>

            </ul>

            <h1>Schulprofil</h1>

            <ul class="inner-list main-list">
                <li><a href="/node/2150">Unsere Schule</a></li>
                <li><a href="/node/2594">Schülerzeitung</a></li>
                <li><a href="/node/2152">Leitbild</a></li>
                <li>
                    <a href="/node/2153" class="rw-flex SchulprogrammListBtn">
                        <i class="fa-solid fa-angle-right Schulprogramm-btn-angle"></i>
                        <p>Schulprogramm</p>

                    </a>

                    <ul class="inner-list Schulprogramm-list">
                        <li><a href="/node/2157">Gestaltung der einzelnen Schulstufen</a></li>
                        <li style="list-style-type: none;">
                            <a href="/node/2162" class="rw-flex LernprozessListBtn">
                                <i class="fa-solid fa-angle-right Lernprozess-btn-angle"></i>
                                <p>Struckturierung von Lernprozessen</p>

                            </a>

                            <ul class="inner-list Lernprozesse-list">
                                <li><a href="/node/2169">Förderkonzept Sek 1</a></li>
                                <li><a href="/node/2177">Methodenkonzept</a></li>
                                <li><a href="/node/2178">Hausaufgabenkonzept</a></li>
                                <li><a href="/node/2179">Medienkonzept</a></li>
                                <li><a href="/node/2180">Fachbereiche</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/node/2163">Leistungsbewertung</a>
                        </li>
                        <li>
                            <a href="/node/2164">Beratung und pädagogische Betreuung</a>
                        </li>
                        <li>
                            <a href="/node/2165">Studien- und Berufsorientierung</a>
                        </li>
                        <li>
                            <a href="/node/2166">Gestaltung des Schullebens</a>
                        </li>
                        <li>
                            <a href="/node/2167">Fahrtenprogramm</a>
                        </li>
                        <li>
                            <a href="/node/2168">Kooperationen</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <h1>Schulgemeinde</h1>

            <ul class="inner-list main-list">
                <li>
                    <a href="/foerderverein">Förderverein</a>
                </li>

                <li>
                    <a href="/schulpflegschaft" class="rw-flex SchulpflegschaftListBtn">
                        <i class="fa-solid fa-angle-right Schulpflegschaft-btn-angle"></i>
                        <p>Schulpflegschaft</p>

                        <ul class="inner-list Schulpflegschaft-list">
                            <li><a href="/kind-im-chat">Kind im Internet</a></li>
                            <li><a href="/interessante-angebote-fuer-eltern">Ineressante Angebote für Eltern</a></li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="/schuelervertretung">Schülervertretung</a>
                </li>

                <li><a href="/ehemaligenverein">Verein der Ehemaligen</a></li>

                <li><a href="/node/2183">Hilfe im Schulumfeld</a></li>

                <li><a href="/node/2218">Patenkinder</a></li>

                <li><a href="/ivk">IVK</a></li>
            </ul>

            <h1>Unterricht</h1>

            <ul class="inner-list main-list">
                <li>
                    <a href="/faecher" class="rw-flex">Fächer</a>
                </li>
            </ul>

            <h1>Wahlpflichtfächer (WP II)</h1>

            <ul class="inner-list main-list">
                <li>
                    <a href="/wahlpflichtfaecher-89" class="rw-flex">Wahlpflichtfächer</a>
                </li>
            </ul>

        </div>

        <!-- middle main content -->
        <div class="main-bar-middle <%= locals.pageheaderstyle ? 'mainPageStyle-mainBarMiddle' : '' %> <%= locals.alternativeMainPageStyle ? 'alternativeMainBarMiddle' : '' %> ">
            <%- include(mainContent) %>
        </div>

        <!-- right site bar -->
        <div class="main-bar-right" style="display: none;">
            <ul class="main-list">
                <li>
                    <a target="_blank" href="https://www.land.nrw/niewiederistjetzt">
                        <img src="assets/sgw-official/Logo.jpg" alt="#nie wieder ist jetzt nrw" width="170" height="170">
                    </a>
                </li>
                <li>
                    <h1>Unsere Schule</h1>
                </li>
                <li>
                    <h3>ein Rundgang:</h3>
                    <a target="_blank" href="https://view.genial.ly/6345515e55c2cc0018edb6e7/interactive-image-sgw">
                        <img src="./assets/sgw-official/1.png" alt="Herzlich Willkommen!" class="list-image">
                    </a>
                </li>
                <li>
                    <a href="/urkunden-und-auszeichnungen">
                        <h3> Unsere Auszeichnungen</h3>
                    </a>
                </li>
                <li>
                    <a href="/node/2197">
                        <h3>MINT in aller Munde</h3>
                        <img class="list-image" alt="MINT" src="">
                    </a>
                </li>

                <li>
                    <h1>Zusatzangebote</h1>
                </li>

                <li>
                    <ul class="inner-list">
                        <li>
                            <a href="/mensa-cafeteria">Cafeteria</a>
                        </li>
                        <li>
                            <a href="/ueber-mittag">nachmittags</a>
                        </li>
                        <li>
                            <a href="/arbeitsgemeinschaften">Arbeitsgemeinschaften</a>
                        </li>
                        <li>
                            <a href="/node/2610">Schulmannschaften</a>
                        </li>
                        <li>
                            <a href="/node/2206">Rat und Hilfe</a>
                        </li>
                        <li>
                            <a href="/node/2298">Lerncoaching</a>
                        </li>
                        <li>
                            <a href="/node/2494">Begabtenförderung</a>
                        </li>
                        <li>
                            <a href="/node/2176">Schüler:innen helfen Schüler:innen</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <h1>News / Presse</h1>
                </li>

                <li>
                    <ul class="inner-list">
                        <li><a href="./assets/sgw-official/2022-11-02-Gut-zu-Wissen_HP.pdf">Newsletter</a></li>
                        <li><a href="/node/2594">Schulzeitung tintenkiller</a></li>
                        <li><a href="/node/2147">wir in der Presse</a></li>
                        <li><a href="/node/2139">Unser Archiv</a></li>
                    </ul>
                </li>

                <li>
                    <h1>Service</h1>
                </li>

                <li>
                    <ul class="inner-list">
                        <li><a href="/node/2548">Formulare, Anträge und Infos</a></li>
                        <li><a href="/termine-201718">Termine Berufsorientierung</a></li>
                        <li><a href="/node/2424">Datenschutz am SGW</a></li>
                        <li><a href="/node/2263">Zugang zu Office-Produkten</a></li>
                        <li><a href="/node/2544">Schülerschließfächer</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </main>

    <footer>

        <span class="AboveFooterInfo">
            <a href="/"><h3>Startseite</h3></a>
            <p>|</p>
            <a href="/kontakt"><h3>Kontakt</h3></a>
            <p>|</p>
            <a href="/impressum"><h3>Impressum</h3></a>
        </span>

        <div class="footer-wrapper grid-container">

            <div>
                <h3>Copyright:</h3>
                <h3>© Städtisches Gymnasium Wermelskirchen</h3>

            </div>
            <div>
                <h3>Rufe uns an:</h3>
                <h3>Tel.
                    <a href="tel:02196/708690" class="color-link">02196/708690</a>
                </h3>
            </div>
            <div>
                <h3>Verpasse nichts neues:</h3>
                <a target="_blank" href="https://www.facebook.com/StaedtischesGymnasiumWermelskirchen/?locale=de_DE" style="color: var(--font-color);">
                    <h3 class="fa-brands fa-facebook"></h3>
                </a>
            </div>
            <div>
                <h3>Kontaktiere uns:</h3>
                <h3>sekretariat(at)sgw-dienst.de </h3>
            </div>
            <div>
                <h3>Unser Schulserver:</h3>
                <a target="_blank" href="https://sgw-schule.de/iserv/auth/login?_target_path=/iserv/auth/auth?_iserv_app_url%3D%252Fiserv%252Fmail%253Fpath%253DINBOX%2526start%253D0%26client_id%3D4_43lbgfkt68g0c8ocg8cwwcw00400ssowwggcgs08gggoc4c80g%26nonce%3Df5fda14a-8b12-4bb6-a7a8-b67210727cd8%26redirect_uri%3Dhttps%253A%252F%252Fsgw-schule.de%252Fiserv%252Fapp%252Fauthentication%252Fredirect%26response_type%3Dcode%26scope%3Dopenid%2520uuid%2520iserv%253Asession-id%2520iserv%253Aweb-ui%2520iserv%253A2fa%253Aconfiguration%2520iserv%253Aaccess-groups%26state%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6IjEifQ.eyJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvc2d3LXNjaHVsZS5kZVwvaXNlcnZcL21haWw_cGF0aD1JTkJPWCZzdGFydD0wIiwibm9uY2UiOiJmNWZkYTE0YS04YjEyLTRiYjYtYTdhOC1iNjcyMTA3MjdjZDgiLCJhZG1pbiI6ZmFsc2UsImlzcyI6Imh0dHBzOlwvXC9zZ3ctc2NodWxlLmRlXC9pc2VydlwvIiwiZXhwIjoxNzE1NTE0MDUyLCJuYmYiOjE3MDc3Mzc5OTIsImlhdCI6MTcwNzczODA1Miwic2lkIjoiIn0.fVJEGRBChDgv0mNhEMaD-l7YZM7xW2zUctDQKw4Pwjjxp9qzX_A6ONBgeOSvSlQ4OPFwBTFLi7sVdCI3cQkc6w"
                    style="color: var(--font-color)">
                    <h3>Iserv</h3>
                </a>
            </div>

        </div>



    </footer>

</body>

</html>